html, body {
    background-color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    
}
.firstTitle {
    font-family: "Caesar Dressing", system-ui;
    color: #20C997;
    text-align: center;
    font-size: 11vw;
    margin-top: 3vw;
}
.myInput {
    text-align: center;
    font-size: 7vw;
    font-family: "Rubik Dirt", system-ui;
    width: 70vw;
    border-color: #FFC107;
    color: #faf1d7;
    background-color: #20C997;
    border-style: solid;
    border-radius: 2vw;
    border-width: 10px;
    display: block;
    margin: 6vw auto;
}
.myInput::placeholder{
    font-family: "Rubik Dirt", system-ui;
}
.arrows {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 2vw 0;
}

.arrow {
    width: 25vw;
}
.addButton {
    width: 72vw;
    font-size: 7vw;
    font-family: "Rubik Dirt", system-ui;
    border-color: #faf1d7;
    color: #faf1d7;
    background-color: #212529;
    border-style: solid;
    border-radius: 2vw;
    border-width: 10px;
    display: block;
    margin-bottom: 5vw;
}
.showButtonDiv{
    display: flex;
    justify-content: space-between;
    gap: 0;
    width: 75vw;
    font-size: 4.5vw;
    margin-top: 5vw;
    margin-left: -11vw;
    margin-bottom: -1vw;
}
.words {
    border-style: solid;
    border-radius: 2vw;
    border-width: 10px;
    font-family: "Rubik Dirt", system-ui;
    border-color: #faf1d7;
    background-color: #212529;
    width: 93vw;
    padding: 1vw;
    margin-bottom: 10vw;
}
.word {
    color: #faf1d7;
    font-size: 4.5vw;
    display: flex;
    justify-content: space-between;
    width: 73vw;
    padding: 5vw 5vw;
}
.showButton{
    font-family: "Rubik Dirt", system-ui;
    background-color:#212529;
    color:#faf1d7;
    border-color: #faf1d7;
    border-style: solid;
    border-width: 1vw;
    font-size: 4.5vw;
    display: flex;
    justify-content: space-between;
    width: 39vw;
    padding: 2vw 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.showButtonAnimation{
    animation-name: showButtonAnimation;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
}
.hideButtonAnimation{
    animation-name: hideButtonAnimation;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
}
@keyframes showButtonAnimation{
    0%{
        background-color: #faf1d7;
        color:#212529;
    }
    100%{
        background-color: #212529;
        color: #faf1d7;
    }
}
@keyframes hideButtonAnimation{
    0%{
        background-color: #212529;
        color: #faf1d7;
    }
    100%{
        background-color: #faf1d7;
        color:#212529;
    }
}
.colon{
    position: absolute;
    left: 44%; 
}
.two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.removeButton {
    height: 6.5vw;
    border-radius: 1vw;
    margin-right: 1vw;
}
.alertMessage {
    font-family: "Rubik Dirt", system-ui;
    color: #9e0000;
    text-align: center;
    font-size: 6vw;
    margin: 5vw auto;
    visibility: hidden;
}